{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Amazon Clone</title>

    <!-- CSS -->
    <link rel="stylesheet"
          href="{% static 'css/style.css' %}">

</head>


<body>

   
    <header class="top-navbar">


        <!-- LOGO -->

        <div class="logo">

            amazon<span>.in</span>

        </div>




        <div class="location">

            <small>
                Deliver to
            </small>

            <strong>
                📍 Rishihood Sonipat
            </strong>

        </div>




        <div class="search-box">

            <select>

                <option>All</option>

                <option>Electronics</option>

                <option>Appliances</option>

                <option>Books</option>

            </select>


            <input
                type="text"
                placeholder="Search Amazon.in"
            >


            <button>
                🔍
            </button>

        </div>


        <div class="account">

            <small>
                Hello, sign in
            </small>

            <strong>
                Account & Lists
            </strong>

        </div>




        




        <div class="cart">

            🛒
            <strong>
                Cart
            </strong>

        </div>


    </header>




  

    <main>

        <h1>
             Amazon Clone
        </h1>

        <p>
            Welcome to the website!
        </p>

    </main>


</body>

</html>